.home{
    position: relative;
    height: 100vh;
    background-color: var(--black-color);
}

.home__container{
    position: relative;
    height: 70%;
    background: var(--radial-color);
    display: grid;
    justify-items: center;
    overflow: hidden;
}

.home__container img{
    position: absolute;
}

.home__grass,
.home__pumpkin{
    bottom: 0;
}

.home__stone{
    bottom: -.5rem;
    width: 470px;
}

.home__tree{
    bottom: .5rem;
    width: 470px;
}

.home__moon{
    bottom: 2rem;
    width: 590px;
}

.home__stone,
.home__tree,
.home__moon{
    max-width: initial;
}

.home__shadow,
.home__points{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.home__shadow{
    mix-blend-mode: overlay;
}

.home__data{
    position: absolute;
    bottom: 4rem;
    text-align: center;
    margin-inline: 1.5rem;
}

.home__description{
    margin-bottom: 2rem;
}

.home__button{
    display: inline-grid;
    position: relative;
    place-items: center;
    transition: filter .4s;
}

.home__button span{
    position: absolute;
    color: var(--white-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.home__button:hover{
    filter: drop-shadow(0 4px 24px hsla(185, 100%, 48%, .6));
}


/*For small devices*/
@media screen and (max-width: 330px){
  .home__stone{
    width: 370px;
  }

  .home__tree{
    width: 400px;
  }

  .home__moon{
    width: 520px;
  }

  .home__titles{
    bottom: 9rem;
  }

  .home__data{
    bottom: 2rem;
  }
}

/*For medium devices*/
@media screen and (min-width: 576px){
  .home__container{
    height: 85%;
  }

  .home__grass,
  .home__stone,
  .home__tree,
  .home__moon{
    width: 100%;
  }

  .home__moon{
    bottom: 3rem;
  }

  .home__titles{
    bottom: 13rem;
  }

  .home__data{
    bottom: 2rem;
  }
}

@media screen and (min-width: 768px){
  .home__titles{
    bottom: 16rem;
  }

  .home__subtitle{
    font-size: 2.5rem;
  }

  .home__title{
    font-size: 4.5rem;
  }
}

/*For large devices*/
@media screen and (min-width: 968px){
  .home__container{
    height: 90%;
  }

  .home__moon{
    bottom: 0;
  }

  .home__titles{
    bottom: 20rem;
  }

  .home__data{
    max-width: 768px;
    left: 0;
    right: 0;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1150px){
  .home__container{
    height: 100%;
  }

  .home__titles{
    bottom: 25rem;
  }
}

@media screen and (min-width: 1400px){
  .home{
    height: initial;
  }

  .home__container{
    height: 960px;
  }

  .home__tree,
  .home__moon{
    bottom: -3rem;
  }

  .home__titles{
    bottom: 31rem;
  }

  .home__subtitle{
    font-size: var(--big-font-size);
  }

  .home__title{
    font-size: var(--biggest-font-size);
    line-height: 90%;
  }
}

/*For 2k resolutions 2048 x 1152*/
@media screen and (min-width: 2048px){
    .home__container{
        height: 1200px;
    }

    .home__titles{
        bottom: 45rem;
    }
}