.home{
    position: relative;
    height: 100vh;
    background-color: var(--black-color);
}

.home__container{
    position: relative;
    height: 70%;
    background: var(--radial-color);
    display: grid;
    justify-items: center;
    overflow: hidden;
}

.home__container img{
    position: absolute;
}

.home__grass,
.home__pumpkin{
    bottom: 0;
}

.home__stone{
    bottom: -.5rem;
    width: 470px;
}

.home__tree{
    bottom: .5rem;
    width: 470px;
}

.home__moon{
    bottom: 2rem;
    width: 590px;
}

.home__stone,
.home__tree,
.home__moon{
    max-width: initial;
}

.home__shadow,
.home__points{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.home__shadow{
    mix-blend-mode: overlay;
}

.home__data{
    position: absolute;
    bottom: 4rem;
    text-align: center;
    margin-inline: 1.5rem;
}

.home__description{
    margin-bottom: 2rem;
}

.home__button{
    display: inline-grid;
    position: relative;
    place-items: center;
    transition: filter .4s;
}

.home__button span{
    position: absolute;
    color: var(--white-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.home__button:hover{
    filter: drop-shadow(0 4px 24px hsla(185, 100%, 48%, .6));
}