.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: var(--z-fixed);
  transition: background-color 0.3s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--white-color);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  transition: text-shadow 0.3s;
}

.nav__logo:hover {
  text-shadow: 0 2px 8px var(--first-color);
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black-color);
    width: 100%;
    padding-block: 5rem 4.5rem;
    transition: top 0.4s;
  }

  .nav__menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
  }

  .nav__menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
  }
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}  