.home__titles {
  position: absolute;
  bottom: 11rem;
  text-align: center;
}

.home__subtitle,
.home__title {
  color: var(--black-color);
  font-family: var(--second-font);
  font-weight: var(--font-regular);
  text-shadow: 0 2px 8px var(--first-color);
}

.home__subtitle {
  font-size: var(--big-font-size);
}

.home__title {
  font-size: var(--biggest-font-size);
}
